<h1>About Us</h1>
<p>
    Beer Hunt is an app I created as part of <a href="http://omrails.com/">One Month 	 	
	Rails</a>, a project to teach <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month.
</p>
